$primary-font = 'Barlow', sans-serif

// screen breakpoints
$screen-sm-min = 480px // 16em - phone
$screen-md-min = 768px // 25.6em - tablet - menu breakpoint
$screen-lg-min = 1024px // 35.73em - desktop

// colors
$primary-color = #0c4da2
$secondary-color = #8dc63f
$gray-light = #f2f2f2
$main-text = #393939