$primary-font = 'Barlow', sans-serif

// screen breakpoints
$screen-sm-min = 16em // 480px - phone
$screen-md-min = 25.6em // 768px - tablet - menu breakpoint
$screen-lg-min = 35.73em // 1072px - desktop

// colors
$primary-color = #0c4da2
$secondary-color = #8dc63f
