.blog
    .content-area
        article
            border 1px solid $secondary-color
            border-radius 7px
            width 60%
            margin 0 auto
            float none
            > .entry-header
                padding 0
                .entry-meta
                    border-bottom 1px solid $secondary-color
                    padding 16px 22px
                    a
                        color $secondary-color
                        text-decoration none
                .entry-title
                    text-transform uppercase
                    padding 16px 22px
                    a
                        color $primary-color
                        text-decoration none
            .entry-summary
                padding 0 22px
                .link-more
                    display none    


.single-featured-image-header
    img
        max-width 740px
        padding-top 80px
