.edit-link
    display none !important
.site-footer
    background-color $gray-med
    h2
        color $primary-color
        font-size 24px
    .footer-widget-1
        .text-2
            width 200px
            float left
        .text-3            
            &:after 
                content ""
                display table
                clear both
        .blog_subscription-2
            border-top 1px solid $main-text