*
    font-family $primary-font
.site-branding
    display none !important
#primary
    #main
        .post-content
            .warp
                max-with 100% 
                header.entry-header
                    width 100%
                    float none
                    padding 4em 1em
                    h2 
                        text-align center
                        font-size 52px
                        font-weight 300
                        color $primary-color
        // #post-168 // very delicated but no other option
        //     .post-content
        //         .wrap
        //             max-with 100% 

