*
    font-family $primary-font
.site-branding
    display none !important
#primary
    #main
        .panel-content
            .wrap
                max-with 100% 
                header.entry-header
                    width 100%
                    float none
                    padding 4em 1em
                    h2 
                        text-align center
                        font-size 52px
                        font-weight 300
                        color $primary-color
                        text-transform uppercase
                div.entry-content
                    h2 
                        color $secondary-color
                        text-transform uppercase
                        font-size 29px
                        font-weight 500
                    p
                        color $main-text
                        font-size 16px
        // #post-168 // very delicated but no other option
        //     .post-content
        //         .wrap
        //             max-with 100% 

