*
    font-family $primary-font
.site-branding
    display none !important
#primary
    #main
        article
            border-top 0
            .panel-content
                .wrap
                    max-width 100% 
                    header.entry-header
                        width 100%
                        float none
                        padding 0 1em 4em 1em
                        margin 0
                        h2 
                            text-align center
                            font-size 52px
                            font-weight 300
                            color $primary-color
                            text-transform uppercase
                            letter-spacing 0
                            margin 0
                    div.entry-content
                        h2 
                            color $secondary-color
                            text-transform uppercase
                            font-size 29px
                            font-weight 300
                            &:after
                                width 290px
                                border-bottom 1px solid $main-text
                                padding 2em 0 0
                                margin 0 0 2em
                                content ''
                                display block
                                margin 0 auto
                        p
                            color $main-text
                            font-size 16px
        #post-168 // very delicated but no other option
            &:before
                background-image url(https://2018.portoalegre.wordcamp.org/files/2018/02/lacador.png)
                background-repeat no-repeat
                width 380px
                height 654px
                display block
                content ''
                position absolute
                bottom 0
                left 10px
            &:after
                background-image url(https://2018.portoalegre.wordcamp.org/files/2018/02/xiruu_community.png)
                background-repeat no-repeat
                width 347px
                height 355px
                display block
                content ''
                position absolute
                right 10px
                top 60%
                transform translateY(-50%)
            .panel-content
                .wrap
                    div.entry-content
                        width auto
                        max-width 570px
                        float none
                        margin 0 auto
        #panel1
            background-image url(https://2018.portoalegre.wordcamp.org/files/2018/03/wcpoa-comunidade-bg.jpg)
            background-position top center
            background-repeat no-repeat
            background-size cover
            .panel-content
                .wrap
                    .entry-header
                        h2
                            font-size 52px
                            color $secondary-text
                    .entry-content
                        float none
                        width 50%
                        margin 0 auto
                        p
                            font-size 16px
                            color $secondary-text
                            &:after
                                display block
                                content ''
                                width 216px
                                height 237px
                                background-image url(https://2018.portoalegre.wordcamp.org/files/2018/03/wp-bagual.png)