@media screen and ( min-width: $screen-md-min )
    .navigation-top
        background $gray-light
        border none
        bottom -56px
        .wrap
            padding 0

    .main-navigation
        .menu
            text-align center
            text-transform uppercase
            a
                font-weight normal
                font-size 16px
                color $main-text
                padding 1em
            .sub-menu
                a
                    padding .5em 1em
        .menu-scroll-down
            display none